<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <br>
    <h3>Edit your Listing</h3>
    <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required/> 
            <div class="invalid-feedback">Title required!</div>
            <div class="valid-feedback">Title Looks Good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea> 
            <div class="invalid-feedback">Description needed!</div>
        </div>

        <div class="mb-3">
            <label for="originalImageUrl" style="margin-bottom: 0.5rem;">Original Listing Image</label> <br> 
            <img src="<%= originalImageUrl %>" alt="Original Image">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input type="file" name="listing[image]" value="<%= listing.image.url %>" class="form-control"/>
        </div>

        <div class="row">
            <div class="mb3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="listing[price]" value="<%= listing.price %>" class="form-control" required/>
                <div class="invalid-feedback">Please add a valid price</div>
            </div>

            <div class="mb3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required/>   
                <div class="invalid-feedback">Please add a valid country</div>
            </div>
        </div>
        
        <div class="mb3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required/>
            <div class="invalid-feedback">Location cannot be empty</div>
        </div>

        <br>
        <button class="btn btn-dark edit-btn">Edit</button>
        <br> <br>
    </form>
</div>
</div>